/* --------FONTS-------- */
@font-face {
    font-family: 'wallabies';
    src: url('Fonts/Dreamy\ Wallabies.otf'), format(opentype);
}

@font-face {
    font-family: 'athena';
    src: url(Fonts/Athena\ Signature.otf), format(opentype);
}

@font-face {
    font-family: 'peach';
    src: url(Fonts/Organic\ Peach\ DEMO.otf), format(opentype);
}


/* --------TEXT-------- */
body {
    margin: 10rem 30rem 10rem 30rem;
    display: grid;
    justify-content: center;
}

h1 {
    font-family: 'wallabies', sans-serif;
    font-size: 10rem;
    margin-bottom: 0;
    line-height: 1;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-family: 'athena';
    font-size: 2rem;
    margin-top: 0;
}

p {
    font-size: 5rem;
}

ol {
    text-align: left;
}

li {
    font-size: 2rem;
}


/* --------CLASS-------- */
.brownbox {
    font-family: 'peach';
    text-align: center;
}

.Ingredients {
    margin-top: 10rem;
}

.recipe {
    margin-top: 20rem;
}

.video {
    margin-top: 10rem;
    margin-bottom: 5rem;
}