@font-face {    
    font-family: 'Chango';
    src: url('Fonts/Chango-Regular.ttf'), format(.ttf);
}

@font-face {    
    font-family: 'snpro';
    src: url('Fonts/SNPro-VariableFont_wght.ttf'), format(.ttf);
}

h1 {
  font-size: 3rem;
  font-family: 'Chango';
  font-weight: bold;
  padding: 2rem;
  /* To center words */
  
  .center-text {
    text-align: center;
  }

  /* To right-align words */
  .right-text {
    text-align: right;
  }

}

h4,p {
  font-size: 1rem;
  font-family: 'snpro';
  src:url('Fonts/SNPro-VariableFont_wght.ttf'), format(.tff);
}

/* This gradient box is me trying to add a sunset hue shift in the background of the entire page */

body {
  background: linear-gradient(#f7813e 50%, #b48ace 65%, #4d93e3 75%);
  height: 1500px;
  margin: 20rem;
}