@font-face {    
    font-family: 'Chango';
    src: url('Fonts/Chango-Regular.ttf'), format(.ttf);
}

@font-face {    
    font-family: 'snpro';
    src: url('Fonts/SNPro-VariableFont_wght.ttf'), format(.ttf);
}

h1 {
  font-size: 3rem;
  font-family: 'Chango';
  font-weight: bold;
  padding: 0rem 40rem 30rem 0rem;
  text-align: end;
}

h4 {
  font-size: 2rem;
  font-family: 'snpro';
  src:url('Fonts/SNPro-VariableFont_wght.ttf'), format(.tff);
}

p {
  padding: 0rem 0rem 5rem 0rem;
  font-size: 1rem;
  font-family: 'snpro';
  src:url('Fonts/SNPro-VariableFont_wght.ttf'), format(.tff);
  padding: 0rem 0rem 4rem 0rem;
}

/* This gradient box is me trying to add a sunset hue shift in the background of the entire page */

body {
  background: linear-gradient(#d645af 5%, #fe9354 50%, #b48ace 75%, #4d93e3 85%);
  height: 4000px;
  margin: 20rem 10rem 10rem 10rem;
}