/* --------FONTS-------- */
@font-face {
    font-family: 'wallabies';
    src: url('Fonts/Dreamy\ Wallabies.otf'), format(.otf);
}

@font-face {
    font-family: 'athena';
    src: url(Fonts/Athena\ Signature.otf), format(.otf);
}

@font-face {
    font-family: 'peach';
    src: url(Fonts/Organic\ Peach\ DEMO.otf), format(.otf);
}

/* --------TEXT-------- */
body {
    margin: 20rem, 100rem, 20rem, 100rem;
    display: grid;
    justify-content: center;

}

h1 {
    font-family: 'wallabies', sans-serif;
    font-size: 6rem;
}

/* --------CLASS-------- */
.brownbox {
    text-align: center;
}

